include ../mixins
block variables
  - var theme = '#808';

<?php require_once("../_path.inc.php"); ?>

doctype html
html(lang="ru-RU")
  head
    title #{title}
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="Baryonyx")
    meta(name="copyright" content!='<?=date("Y")?>')
    //- Chrome, Firefox OS and Opera
    meta(name="theme-color" content=theme)
    //- Windows Phone
    meta(name="msapplication-navbutton-color" content=theme)
    //- iOS Safari
    meta(name="apple-mobile-web-app-status-bar-style" content=theme)
    //- Open Graph
    meta(property="og:type" content="website")
    meta(property="og:locale" content="ru_RU")
    meta(property="og:url" content="")
    meta(property="og:title" content=title)
    meta(property="og:site_name" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content!="<?=SITE_TEMPLATE_PATH?>/images/Skulltag_B.png")
    //- Иконка сайта
    link(rel="icon" href!="<?=SITE_TEMPLATE_PATH?>/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href!="<?=SITE_TEMPLATE_PATH?>/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" href!="<?=SITE_TEMPLATE_PATH?>/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="72x72" href!="<?=SITE_TEMPLATE_PATH?>/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="114x114" href!="<?=SITE_TEMPLATE_PATH?>/apple-touch-icon-114x114.png")
    //- Стили
    link(rel="stylesheet" href!="<?=SITE_TEMPLATE_PATH?>/vendor.min.css?v=<?=rand()?>")
    link(rel="stylesheet" href!="<?=SITE_TEMPLATE_PATH?>/template_styles.css?v=<?=rand()?>")
    block styles
    <!--[if lt IE 9]>
    //- hack for ie
    link(rel="stylesheet" href!="<?=SITE_TEMPLATE_PATH?>/ie.css")
    //- The HTML5 Shiv
    script(src!="<?=SITE_TEMPLATE_PATH?>/vendor/ie/html5shiv.min.js")
    //- A fast & lightweight polyfill for min/max-width CSS3 Media Queries (for IE 6-8, and more)
    script(src!="<?=SITE_TEMPLATE_PATH?>/vendor/ie/respond.min.js")
    //- REM unit polyfill
    script(src!="<?=SITE_TEMPLATE_PATH?>/vendor/ie/rem.min.js")
    <![endif]-->
  body
    //- include ../debugl
    .page#top(class=main ? "main-page" : "")
      .container
        block container
      include ../../assets/bem/footer/footer
    include ../../assets/bem/templates/templates
    script(src!="<?=SITE_TEMPLATE_PATH?>/vendor.min.js?v=<?=rand()?>")
    script(src!="<?=SITE_TEMPLATE_PATH?>/scripts.min.js?v=<?=rand()?>")
    block scripts
    <?php require_once("../_pageWidget.inc.php"); ?>
